#headline{
    text-align: center;
    text-transform: uppercase;
}
.scores{
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.player{
    height: 100px;
    width: 75px;
    /* background: grey; */
    text-align: center;
    text-align: center;
    font-size: 25px;
}
.computer {
    height: 100px;
    width: 100px;
    /* background: grey; */
    text-align: center;
    font-size: 25px;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}
.results{
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.gameOver{
    background: rgba(100, 100, 100, .5);
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    height: 100px;
    width: 400px;
    border-radius: 25px;
    font-size: 25px;
}

img:hover{
    opacity: .5;
    border: 3px solid black;
}
